* {
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: gray;
}


.main{
    width: 100vw;
    height: 50vh;
    background-color: brown;
}

.trio{
    width: 100vw;
    height: 30vh;
    display: flex;
}
 
.uno{
    width: 33vw;
    background-color: cornflowerblue;
}

.dos{
    width: 34vw;
    background-color: cyan;
}

.tres{
    width: 33vw;
    background-color: cornflowerblue;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: gray;
}