* {
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    font-family: sans-serif;
}

.izquierda{
    width: 15vw;
    height: 100vh;
    background-color: lightgrey;
}

header a{
    color: white;
}

header{
    width: 85vw;
    height: 10vh;
    background-color: gray;
}

header span{
    font-weight: bold;
    color: white;
}

.header-superior{
    background-color: #0f1111;
    height: 5vh;
    width: 85vw;
}

#nav-bar{
    float: right;
}

.header-inferior li{
    color: white;
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.header-inferior{
    background-color: darkslategrey;
    height: 5vh;
    width: 85vw;
}

.combo{
    display: flex;
}

.uno{
    width: 42.5vw;
    height: 70vh;
}

.dos{
    width: 42.5vw;
    height: 70vh;
    background-color: royalblue;
}

footer{
    width: 85vw;
    height: 15vh;
    background-color: gray;
}