*{
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: aquamarine;
}

main{
    display: flex;
    height: 80vh;
}

.izquierda{
    width: 20vw;
    background-color: brown;
}

.derecha{
    width: 80vw;
    background-color: blueviolet;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: cornflowerblue;
}