*{
    padding: 0;
    margin: 0;
}

html{
    font-family: sans-serif;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: #0b0b0a;
    color: white;
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
}

header h1{
    margin-left: 20px;
}

header img{
    width: 70px;
    height: 70px;
}

.logo{
    display: flex;
    align-items: center;
}

.icons img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

main{
    display: flex;
    height: 80vh;
}

.izquierda{
    color: white;
    width: 12vw;
    background-color: #212121;
}

.izquierda .principal{
    margin: 15px 20px;
}

.izquierda .usuario{
    margin: 15px 20px;
}

.izquierda .sus img{
    width: 200px;
    height: 300px;
    
}

.izquierda .sus li{
    margin: 15px 20px;
}

.izquierda li{
    list-style: none;
    margin: 10px 0;
}

.derecha{
    width: 88vw;
    background-color: blueviolet;
}

footer{
    color: white;
    width: 100vw;
    height: 10vh;
    background-color: #0b0b0a;
    text-align: center;
}