*{
    padding: 0;
    margin: 0;
}

html{
    font-family: sans-serif;
}

main{
    display: flex;
    height: 80vh;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header img{
    width: 100px;
}

.logo-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-nav li{
    list-style: none;
    display: inline;
    color: white;
    margin: 0 10px;
}

.icons img{
    width: 50px;
    margin: 0 10px;
}

.izquierda{
    width: 15vw;
    background-color: #18181b;
    color: white;
}

.centro{
    width: 65vw;
    background-color: cadetblue;
}

.derecha{
    width: 20vw;
    background-color: #18181b;
    color: white;
}

.derecha article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.derecha article img{
    width: 50px;
}

.derecha article :nth-child(3){
    width: 35px;
}

.derecha li{
    list-style: none;
    margin: 15px;
}

.comments{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#comment-bar{
    width: 250px;
}

.izquierda article img{
    width: 50px;
}

.izquierda article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#rec{
    width: 256px;
    height: 655px;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: darkslategrey;
    color: white;
}
footer h1{
    text-align: center;
}